@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

@layer components {
    .btn {
        @apply duration-200 uppercase bg-red-600 hover:bg-red-700 active:translate-y-1 text-white text-xl p-4 font-bold rounded-xl;
    }
    .nav-link {
        @apply font-bold uppercase cursor-pointer text-xl hover:bg-red-200 py-2 px-6 rounded-xl duration-200;
    }
}

.chap input::-webkit-inner-spin-button,
.chap input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}